.wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 1em;
}

.wrapper>div {
    background: #eee;
    padding: 1em;
}

.wrapper div:nth-child(odd) {
    background: #ddd;
}

body {
    color: #000000;
    margin-left: 20;
    margin-right: 20;
    margin-top: 40px;
    margin-bottom: 50px;
}

.text-box {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}