.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minimax(100px, auto);
}

.nested {
    display: grid;
    grid-auto-rows: minimax(100px, auto);
}

.nested li ul {
    border: #333 1px solid;
}

body {
    color: #000000;
    margin-left: 20;
    margin-right: 20;
    margin-top: 40px;
    margin-bottom: 50px;
}

.img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 60px;
    top: 43px;
}

.user {
    color: grey;
    font-size: 18px;
}